{% extends 'navbar.html' %}

<script>
{% block jquery %}
var endpoint = 'api/chartdata'
var defaultData = []
var labels = []
var canvas = document.getElementById('myChart');
canvas.height = 150;
canvas.width = 200;
var data = {
    labels: [],
    datasets: []
};
var chartColors = [
		'rgb(255, 99, 132)',
		'rgb(255, 159, 64)',
		'rgb(255, 205, 86)',
		'rgb(75, 192, 192)',
		'rgb(54, 162, 235)',
		'rgb(153, 102, 255)',
		'rgb(231,233,237)'
	];
var option = {
	showLines: true,
	 scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true,
                    fontColor: 'white',
                },
                scaleLabel:{
                	display: true,
                	labelString: 'E1RM',
                	fontColor: 'white',
                },
                gridLines: {
  					display: true ,
  					color: "#FFFFFF"
				},
            }],
          xAxes: [{
                ticks: {
                	beginAtZero:true,
                    fontColor: 'white',
                    
                },
                scaleLabel:{
                	display: true,
                	labelString: 'Microcycles',
                	fontColor: 'white',
                },
                gridLines: {
  					display: true,
  					color: "#FFFFFF"
				},
            }]
        } 

};
var myLineChart = Chart.Line(canvas,{
	data: data,
	options:option

});


function setChart(){
	var ctx = document.getElementById('myChart');
		var myChart = new Chart(ctx, {
    		type: 'line',
    		data: {
        		labels: labels,
        		datasets: [{
            		label: '# votes',
            		data: defaultData,
				},{
					label: "title2",
        backgroundColor: "transparent",
        borderColor: "#fff",
        data: [50, 50, 50, 50, 50]
				}]
			}
		})
}

$("#id_athlete").change(function(){
	var athleteId = $(this).val();

	$.ajax({
		url: '/app/ajax/load-meso/',
		data:{
			'athlete': athleteId
		},
		success: function(data){
			console.log(data)
			$("#id_mesocycles").html(data);
		}
	});

});

$("#id_mesocycles").change(function(){
	var mesocycle = $('#id_mesocycles').val();

	$.ajax({
		url: '/app/ajax/load-lifts/',
		data:{
			'mesocycle': mesocycle
		},
		success: function(data){
			console.log(data)
			$("#id_lifts").html(data);
		}
	});

});




$("#id_lifts").change(function(){
	var myCheckboxes = [];
	$(".lift-box:checked").each(function() {
   		myCheckboxes.push(this.value)

	});
	console.log(myCheckboxes)
	//var lift = $('#id_lifts').val()
	var lift = myCheckboxes
	var athlete = $('#id_athlete').val()
	var meso = $("#id_mesocycles").val()
	
	$.ajax({
		url: '/app/ajax/testpost/',
		data:{
			'athlete': athlete,
			'lift': lift,
			'meso': meso,
		},
		success: function(data){
			console.log(data)
			myLineChart.data.datasets = [];
			for(i=0; i<data.default.length; i++){
				myLineChart.data.datasets.push({
			label: data.name[i],
            fill: false,
            lineTension: 0.1,
            backgroundColor: chartColors[i],
            borderColor: chartColors[i],
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: chartColors[i],
            pointBackgroundColor: chartColors[i],
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: chartColors[i],
            pointHoverBorderColor: chartColors[i],
            pointHoverBorderWidth: 2,
            pointRadius: 5,
            pointHitRadius: 10,
            data: data.default[i],
        })
  				
			}
			myLineChart.data.labels = data.labels;
  			myLineChart.update();
		}
	});

});


{% endblock %}
</script>

{% block content %}

<div class = "container">
<div class="columns is-vcentered">
    <div class="column is-6">
    	<div class="control">
  				<div class="select">

		    		<select name = "athlete" id="id_athlete">
		      			<option>Select dropdown</option>
		      			{% for athlete in request.user.coach.coach.all%}
		      			<option>{{athlete.user.username}}</option>
		      			{% endfor %}
		    		</select>
		  		</div>

				<div class="select">

		    		<select name = "mesocycles" id="id_mesocycles">
		      			<option>Select dropdown</option>
		    		</select>
		  		</div>
			</div>
        <div class="card events-card ">
            <header class="card-header">
                <p class="card-header-title has-background-dark has-text-white">
                    Estimated One Rep Maxes
                </p>
            </header>
        <div class="card-menu">
        <div class="content has-background-dark">
        	
				<canvas id="myChart" width="100" height="100"/>
			
		</div>
		</div>
		<footer class="card-footer has-background-dark ">
		<div class = "column is-11 is-offset-1">
		  
		  		
			<form id = "analyticsForm" action="{% url 'app:test' %}" method="post" all-lifts-url="{% url 'app:ajax_load_lifts' %}">
				{% csrf_token %}
			
			
			
			<div class = "menu has-text-white">
				
				<div class="content has-text-white" id = "id_lifts">

				</div>
			</div>
			
			
      		</form>
      	</div>
      
      	  
      	</footer>
		</div>
	</div>

</div>


{% endblock content %}