{% extends 'navbar.html' %}

<script>
{% block jquery %}
var endpoint = 'api/chartdata'
var defaultData = []
var labels = []


$.ajaxSetup({ 
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     } 
});
$.ajax({
	method:"GET",
	url: endpoint,
	success: function(data){
		labels = data.labels
		defaultData = data.default
		setChart()
	},
	error: function(error_data){
		console.log("error")
		console.log(error_data)
	}
}
)

function setChart(){
	var ctx = document.getElementById('myChart');
		var myChart = new Chart(ctx, {
    		type: 'line',
    		data: {
        		labels: labels,
        		datasets: [{
            		label: '# votes',
            		data: defaultData,
				},{
					label: "title2",
        backgroundColor: "transparent",
        borderColor: "#fff",
        data: [50, 50, 50, 50, 50]
				}]
			}
		})
}

$("#id_athlete").change(function(){
	var athleteId = $(this).val();

	$.ajax({
		url: '/app/ajax/load-meso/',
		data:{
			'athlete': athleteId
		},
		success: function(data){
			console.log(data)
			$("#id_mesocycles").html(data);
		}
	});

});

$("#id_mesocycles").change(function(){
	var mesocycle = $('#id_mesocycles').val();

	$.ajax({
		url: '/app/ajax/load-lifts/',
		data:{
			'mesocycle': mesocycle
		},
		success: function(data){
			console.log(data)
			$("#id_lifts").html(data);
		}
	});

});

$("#id_lifts").change(function(){
	var lift = $('#id_lifts').val()
	var athlete = $('#id_athlete').val()
	var meso = $("#id_mesocycles").val()
	$.ajax({
		url: '/app/ajax/testpost/',
		data:{
			'athlete': athlete,
			'lift': lift,
			'meso': meso,
		},
		success: function(data){
			labels = data.labels
			defaultData = data.default
			setChart()
		}
	});

});


{% endblock %}
</script>

{% block content %}

<div class = 'row'>
	<div class = 'col-sm-12'>
		<h1>Hello</h1>
		<canvas id="myChart" width="400" height="400"></canvas>
	</div>
	{{request.user.coach.coach.all}}
	<form id = "analyticsForm" action="{% url 'app:test' %}" method="post" all-lifts-url="{% url 'app:ajax_load_lifts' %}">
		{% csrf_token %}
		<div class="control">
  		<div class="select">

		    <select name = "athlete" id="id_athlete">
		      <option>Select dropdown</option>
		      {% for athlete in request.user.coach.coach.all%}
		      	<option>{{athlete.user.username}}</option>
		      {% endfor %}
		    </select>
		  </div>

		<div class="select">

		    <select name = "mesocycles" id="id_mesocycles">
		      <option>Select dropdown</option>
		    </select>
		  </div>
		</div>

		<div class="select">

		    <select name = "lifts" id="id_lifts">
		      <option>Select dropdown</option>
		    </select>
		  </div>
		</div>
		<!--select microcycle-->
		  <button class = 'button is-small is-link' type="submit">
            <i class="fas fa-divide" type="submit"></i>
           </button>
      </form>
</div>


{% endblock content %}