{% extends 'navbar.html' %}

{% block content %}
<section class="hero is-dark">
<div class="hero-body">
  <div class="container has-text-centered">
      <h1 class="title">
        Training Log
      </h1>
    </div>
</div>

<div class="hero-foot">
<nav class="tabs is-boxed is-fullwidth is-large">
        <div class="container">
          <ul>
            <li class="tab is-active" onclick="openTab(event,'WebDev')"><a >Workouts</a></li>
            <li class="tab" onclick="openTab(event,'WebAud')"><a >Microcycles</a></li>
            <li class="tab" onclick="openTab(event,'Support')"><a >Macrocycles</a></li>
          </ul>
        </div>
      </nav>
  </div>
</section>


<div class="container section">
    <div id="WebDev" class="content-tab" >
      <div class="field is-grouped is-grouped-centered">
      {% if user.is_authenticated and user.is_coach %}
      <p class="control">
        <a class="button is-primary" href="{% url 'coach:add_workout' pk=pk %}">Create Workout</a>
      </p>
      {% endif %}
        <form method = "GET" action="{% url 'app:search_workout' pk %}">
        <div class="field has-addons">

          <p class="control">
            <input id="search_box" class="input" type="text" name="search_box" placeholder="Search">
          </p>
          <div class="control">

            <button class="button" type = "submit">Search</button>
            </form>
          </div>
        </div>

      </div>
      {% for workout in all_workouts %}
      <div class="column is-half is-offset-one-quarter">

        <div class="box content">

              <h4><a href="{% url 'app:workout_detail' pk=workout.athlete.pk pk_2=workout.pk %}">{{workout.workout_name}}</a></h4>
              {% if not workout.completed %}
              <span class="tag">In Progress</span> &nbsp;
              {%else%}
              <span class="tag is-success">Completed!</span> &nbsp;
              {%endif%}
              <span class="has-text-grey-light"><i class="fa fa-comments"></i> 1</span>


          </div>
        </div>
        {% endfor %}
        {% if is_paginated %}
        <div class = "column is-half is-offset-one-quarter">
          <ul class="pagination">
            {% if page_obj.has_previous %}
              <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
              {% if page_obj.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>
        </div>
          {% endif %}

    </div>




    <div id="WebAud" class="content-tab" style="display:none">
        <div class="field is-grouped is-grouped-centered">
      {% if user.is_authenticated and user.is_coach %}
      <p class="control">
        <a class="button is-primary" href="{% url 'coach:create_micro' pk=pk %}">Create Microcycle</a>
      </p>

      {% endif %}

        <div class="field has-addons">
          <p class="control">
            <input id="search_box" class="input" type="text" name="search_box" placeholder="Search">
          </p>
          <div class="control">
            <form method = "GET" action="{% url 'app:search_coach' %}">
            <button class="button" type = "submit">Search</button>
            </form>
          </div>
        </div>

      </div>

      {% for microcycle in all_microcycles %}

          <div class="column is-half is-offset-one-quarter">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title is-size-4"><a href ="{% url 'app:micro_detail' pk=microcycle.athlete.pk pk_2=microcycle.pk %}">{{microcycle.microcycle_name}}</a></p>
                <a class="card-header-icon card-toggle">
                  <i class="fa fa-angle-down"></i>
                </a>
                <a class="card-header-icon">
                  {% if request.user.is_authenticated and request.user.is_coach %}
                  <form action="{% url 'coach:delete_micro' athlete_id=microcycle.athlete.pk microcycle_id=microcycle.pk %}"
                    method="post" style="display: inline;" onsubmit="window.mytest()">
                    {% csrf_token %}
                    <button type="submit" class="button is-white" id="BtnDeleteYesNo">
                    <span class="icon has-text-danger">
                    <i class="far fa-trash-alt"></i>
                    </span>
                    </button>
                </form>
                {% endif %}
                </a>
              </header>
              <div class="card-content is-hidden">
                <div class="content">
                  {% if microcycle.micro.all %}
                  <a>{{microcycle.micro.workout_name}}</a>

                  <table>
                    {% for workout in microcycle.micro.all %}

                    <tr><td>
                      <a href="{% url 'app:workout_detail' pk=workout.athlete.pk pk_2=workout.pk %}">{{workout.workout_name}}</a>
                    </tr></td>

                    {% endfor %}
                  </table>
                  {% else %}
                    Microcycle is empty!
                  {% endif %}
                </div>
                    {% if request.user.is_authenticated and request.user.is_coach %}
                    <footer class="card-footer">    
                      <a href="{% url 'coach:add_wo_to_micro' athlete_id=microcycle.athlete.pk pk_2=microcycle.pk %}" class="card-footer-item">Add Workout?</a>
                      <a href="{% url 'coach:duplicate_micro' microcycle_id=microcycle.pk %}" class="card-footer-item">Duplicate Microcycle</a>
                    </footer>
                    {% endif %}

                </div>
            </div>
          </div>

        {% endfor %}
        

<!--    <div id="Support" class="content-tab" style="display:none">
       <div class="field is-grouped is-grouped-centered">
      {% if user.is_authenticated and user.is_coach %}
      <p class="control">
        <a class="button is-primary" href="{% url 'coach:add_workout' pk=pk %}">Add Macrocycle</a>
      </p>
      {% endif %}

        <div class="field has-addons">
          <p class="control">
            <input id="search_box" class="input" type="text" name="search_box" placeholder="Search Microcycles">
          </p>
          <div class="control">
            <form method = "GET" action="{% url 'app:search_coach' %}">
            <button class="button" type = "submit">Search</button>
            </form>
          </div>
        </div>

      </div>
      {% for macrocycle in all_macrocycles %}
      <div class="column is-half is-offset-one-quarter">

        <div class="box content">
          for will link to macrocycle review
              <h4><a href="{% url 'app:workout_detail' pk=workout.athlete.pk pk_2=workout.pk %}">{{workout.workout_name}}</a></h4><span class="tag">In Progress</span> &nbsp;
              <span class="has-text-grey-light"><i class="fa fa-comments"></i> 1</span>


          </div>
        </div>
        {% endfor %}
</div>-->
{% endblock %}

