{% extends 'navbar.html' %}

{% block content %}


<div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-vcentered">
                    <div class="column is-6">
                      <div class = "card">
                    	<header class="card-header">
					     <p class="card-header-title">
					       Workload</p>
					    </header>
                      <div class="card-table">
          				<div class="content">
            			   <table class="table is-fullwidth is-striped">
              				<tbody>
              				{% if all_workouts %}
                  				{% for workout in all_workouts %}
				                    <tr>
				                      <td width="5%"><i class="fas fa-dumbbell"></i></td>
				                      <td><a href="{% url 'app:workout_detail' pk=workout.athlete.pk pk_2=workout.pk %}">{{workout.workout_name}}</a></td>
				                       <td>
				                        {% if not workout.completed %}
				                        <span class="tag">In Progress</span>
				                        {% else %}
				                        <span class="tag is-success">Completed!</span>
				                        {% endif %}
				                      </td>				

				                    </tr>
				                  {% endfor %}
				                  {% else %}
				                    <tr>
				                      <td width="5%"><i class="fas fa-exclamation-triangle"></i></i></td>
				                      <td>You have no programs yet!</td>
				                    </tr>
				                  {% endif %}
				                </tbody>
				              </table>
				             </div>
				            </div>
				        </div>
				           </div>
                    
                    <div class="column is-4 is-offset-1">
                      <div class = "box ">
                        <h1 class="title is-3 is-italic is-normal">
                            At a Glance
                        </h1>
                        {% for key, value in report.items %}
                        <strong>{{key}}</strong>
                        <div class = "box has-background-light">
                        	
                          <article class="media">
                          	<div class = "media-content">
                        	<div class = "content">
                        		{% for exercise, protocol in value.items %}
                        		<p><strong>{{exercise}}</strong></p>
                        		  
                        		  {% for set in protocol %}
                        		  	<p class="subtitle is-7 has-text-centered">
                        		  		{% if set.0 and set.3 %}
                        		  		  {{set.0}}kg / {{set.3}}kg
                        		  		{% elif set.0 %}
                        		  		  {{set.0}}kg
                        		  		{% elif set.3 %}
                        		  		  {{set.3}}kg
                        		  		{% else %}
                        		  		{%endif%}
                        		  		  x{{set.1}}
                        		  		{% if set.2 %}
                        		  		   @{{set.2}}
                        		  		{% else %}
                        		  		{%endif%}
                        		  	</p>
                        		  {% endfor %}
                        		{% endfor %}
               
                        	</div>
                        	</div>
                        </article>
                        
                   		</div>
                   		{%endfor%}
                   	</div>
                        
                    </div>
                </div>
            </div>
        </div>

{% endblock %}