{% extends 'navbar.html' %}

{% block content %}
<section class="hero has-background-dark">
    <div class="hero-body">
      <div class="container has-text-white">Hello! I am
        <h1 class="title is-1 has-text-white">
        {% if object.is_coach %}
          {{object.coach.first_name}}
          {{object.coach.last_name}}
        {% else %}
            {{object.first_name}}
            {{object.last_name}}
        {% endif %}

        </h1>
        <h2 class="subtitle is-3">
          <!--title?-->
        </h2>
      </div>
    </div>
  </section>


<div class = "container has-text-white">
<div class="hero-body">
            <div class="container has-text-centered">

                <div class="columns is-vcentered">

                    <div class="column is-5">
                        <figure class="image is-4by3">
                            <img src="https://picsum.photos/800/600/?random" alt="Description">
                        </figure>
                    </div>
                <div class = "container">
                    <div class = "column is-half is-offset-1">
                        {% if object.is_coach %}

                        <br>

                        <p class="has-text-centered">
                          <h2 class="subtitle is-4 has-text-white">{{object.coach.bio}} </h2>
                        </p>
                        {% elif object.is_athlete %}
                        <table class="table is-centered">
                          <thead>
                            <tr>
                              <th>Movement</th>
                              <th>1 RM</th>
                              <th></th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for rep_max in object.athlete.athlete_rm.all %}
                            <tr>
                              <th>{{rep_max.rep_max_name}}</th>
                              <th>{{rep_max.rep_max}}kg</th>
                              {% if request.user.is_coach and request.user.coach == object.athlete.coach %}
                              <th>
                                <form method="get" action="{% url 'coach:edit_rep_max' rep_max.pk %}" >
                                  {% csrf_token %}
                                <button class = 'button is-info is-small' type="submit"><i class="fas fa-edit"></i></button>
                                </form>
                                
                              </th>
                              <th>
                                <form method="get" action="{% url 'coach:delete_rep_max' rep_max.pk %}" >
                                  {% csrf_token %}
                                <button class = 'button is-danger is-small' type="submit"><i class="far fa-trash-alt"></i></button>
                                </form>
                
                              </th>
                              {% endif %}
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                       
                        {% endif %}
                    </div>
                </div>


                </div>
            {% if request.user.is_authenticated and request.user == object and request.user.is_coach%}
            <div class="buttons is-right ">
              <form method="get" action="{% url 'coach:edit_profile' object.pk %}" >
                {% csrf_token %}
                <button class = 'button' type="submit"><i class="fas fa-edit"></i></button>
              </form>
            </div>
            {% elif request.user.is_authenticated and object.is_athlete and request.user.is_coach%}
            <div class="buttons is-right ">
              <form method="get" action="{% url 'coach:add_rep_max' object.pk %}" >
                {% csrf_token %}
                <button class = 'button' type="submit"><i class="fas fa-edit">Add Rep Max</i></button>
              </form>
            </div>

            {% endif %}
            </div>
            </div>
{% if request.user.is_athlete and request.user.is_authenticated %}
  <div class = "buttons has-add-ons is-centered">
  {% if object.is_coach %}
  {% if request.user.athlete.coach == object.coach %}
  <form method="post" action="{% url 'athlete:add_coach' object.coach.user_id %}" >
          {% csrf_token %}
          <button class="button is-success" type = "submit" disabled>
            <span>Add Coach</span>
              </button></form>

  <form method="post" action="{% url 'athlete:remove_coach' request.user.athlete.coach.user_id %}" >
          {% csrf_token %}
          <button class="button is-danger" type = "submit">
            <span>Remove</span>
            <span class="icon">
              <i class="fas fa-times"></i>
                </span>
              </button></form>
    {% elif request.user.athlete.coach == None %}
    <form method="post" action="{% url 'athlete:add_coach' object.coach.user_id %}" >
          {% csrf_token %}
          <button class="button is-success" type = "submit">
            <span>Add Coach</span>
              </button></form>

  <form method="post" action="#" >
          {% csrf_token %}
          <button class="button is-danger" type = "submit" disabled>
            <span>Remove</span>
            <span class="icon">
              <i class="fas fa-times"></i>
                </span>
              </button></form>
    {% else %}
    <form method="post" action="{% url 'athlete:add_coach' object.coach.user_id %}" >
          {% csrf_token %}
          <button class="button is-success" type = "submit" disabled>
            <span>Add Coach</span>
              </button></form>

  <form method="post" action="{% url 'athlete:remove_coach' request.user.athlete.coach.user_id %}" >
          {% csrf_token %}
          <button class="button is-danger" type = "submit" disabled>
            <span>Remove</span>
            <span class="icon">
              <i class="fas fa-times"></i>
                </span>
              </button></form>
</div>
{% endif %}
{%endif%}
  {%endif%}

{% endblock %}
