{% extends 'navbar.html' %}


<script>


  {% block jquery %}
  function endEdit(e) {
    var input = $(e.target),
        label = input && input.prev();

    label.text(input.val() === '' ? defaultText : input.val());
    input.hide();
    label.show();
  }

    $('.clickedit').hide()
    .change(function(){
      var workout_name = $(this).val();
      var pk = $(this).attr('key');
      console.log($(this).val());

      $.ajax({
         url: "/app/ajax/validate_workout_name/",
        type: "POST",
        data: {
          csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
          'pk': pk,
          'workout_name': workout_name
        },
        success: function (data) {
          console.log(data)
        }
      });
    })
    .focusout(endEdit)
    .keyup(function (e) {
        if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
            endEdit(e);
            return false;
        } else {
            return true;
        }
    })
      .prev().click(function () {
      $(this).hide();
      $(this).next().show().focus();
    });





    $(".kg_done").change(function () {
      var kg_done = $(this).val();
      var pk = $(this).attr('key');
      console.log( $(this).attr('key') );

      $.ajax({
        url: "/app/ajax/validate_kg/",
        type: "POST",
        data: {
          csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
          'pk': pk,
          'kg_done': kg_done
        },
        success: function (data) {
          console.log(data)
        }
      });

    });

    $(".num_reps_done").change(function () {
      var num_reps_done = $(this).val();
      var pk = $(this).attr('key');
      console.log( $(this).attr('key') );

      $.ajax({
        url: "/app/ajax/validate_num_reps/",
        type: "POST",
        data: {
          csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
          'pk': pk,
          'num_reps_done': num_reps_done
        },
        success: function (data) {
          console.log(data)
        }
      });

    });

    $(".rpe").change(function () {
      var rpe = $(this).val();
      var pk = $(this).attr('key');
      console.log( $(this).attr('key') );

      $.ajax({
        url: "/app/ajax/validate_rpe/",
        type: "POST",
        data: {
          csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
          'pk': pk,
          'rpe': rpe
        },
        success: function (data) {
          console.log(data)
        }
      });

    });

    $(".movement_name").change(function () {
      var movement_name = $(this).val();
      var pk = $(this).attr('key');
      console.log( $(this).attr('key') );

      $.ajax({
        url: "/app/ajax/validate_movement_name/",
        type: "POST",
        data: {
          csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
          'pk': pk,
          'movement_name': movement_name
        },
        success: function (data) {
          console.log(data)
        }
      });

    });

    $(".percentage").change(function () {
      var percentage = $(this).val();
      var pk = $(this).attr('key');
      console.log( $(this).attr('key') );

      $.ajax({
        url: "/app/ajax/validate_percentage/",
        type: "POST",
        data: {
          csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
          'pk': pk,
          'percentage': percentage
        },
        success: function (data) {
          console.log(data)
        }
      });

    });

    $(".rm").change(function () {
      var rm = $(this).val();
      var pk = $(this).attr('key');
      console.log( $(this).attr('key') );

      $.ajax({
        url: "/app/ajax/validate_rm/",
        type: "POST",
        data: {
          csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
          'pk': pk,
          'rm': rm
        },
        success: function (data) {
          console.log(data)
          location.reload();
        }
      });

    });

    $(".checked").change(function () {
      var checked = $(this).val();
      var pk = $(this).attr('key');
      console.log( checked );

      $.ajax({
        url: "/app/ajax/validate_checked/",
        type: "POST",
        data: {
          csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
          'pk': pk,
          'checked': checked

        },
        success: function (data) {
          console.log(data)
        }
      });

    });

    $("#fatigue-rating").change(function () {
      var fatigue = $(this).val();
      var pk = $(this).attr('key');
      console.log( fatigue );

      $.ajax({
        url: "/athlete/ajax/submit_fatigue/",
        type: "POST",
        data: {
          csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
          'pk': pk,
          'fatigue': fatigue

        },
        success: function (data) {
          console.log(data)
          location.reload();
        }
      });

    });
  {% endblock %}
</script>


{% block content %}
{% if request.user.is_authenticated and request.user.is_athlete %}
<div class="column is-half is-offset-one-quarter">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title is-size-4">Instructions</p>
                <a class="card-header-icon card-toggle">
                  <i class="fa fa-angle-down"></i>
                </a>
              </header>
            <div class="card-content is-hidden">
                <div class="content">
                  <p><strong>1)</strong> The Blue Divide Button (athletes only) require you to key in your load done and reps done before
                  it can calculate your backoff sets</p>
                </div>
              </div>
            </div>
          </div>
{% else %}
<div class="column is-half is-offset-one-quarter">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title is-size-4">Tips</p>
                <a class="card-header-icon card-toggle">
                  <i class="fa fa-angle-down"></i>
                </a>
              </header>
            <div class="card-content is-hidden">
                <div class="content">
                  <p><strong>1)</strong>Keep naming conventions across movements the same. i.e. bench press, not bench press followed by bench. This will help in Analytics.</p>
                  <p><strong>2)</strong>Name all relevant squat movements with 'Squat' in the name, bench press movements with 'Press' in the name, and deadlift movements with 'Deadlift' in the name if you want to track if in Analytics</p>
                </div>
              </div>
            </div>
          </div>

{% endif %}





<div class="container section">
<div class = "card is-fluid">
  <header class = "card-header-title">

    {% if request.user.is_authenticated and request.user.is_coach %}
    <label class="pull-left">{{ workout.workout_name }}</label>
    <input class="clickedit" key = "{{workout.pk}}" key_two = "{{ workout.workout_name }}" type="text" />

    <p id = "card-header-title" class = "card-header-title">
      <i class="fas fa-pen"></i>
    {% else %}
    <p id = "card-header-title" class = "card-header-title">
      {{ workout.workout_name }}
    {% endif %}
      {% if not workout.completed %}
      &nbsp;<span class="tag">In Progress</span>
      {%else%}
      &nbsp;<span class="tag is-success">Completed!</span>
      {%endif%}
    </p>




    {% if request.user.is_authenticated and request.user.is_coach %}
    <form action="{% url 'coach:delete_workout' athlete_id=workout.athlete.pk workout_id=workout.pk %}"
                    method="post" style="display: inline;" onsubmit="window.mytest()">
                    {% csrf_token %}
                    <button type="submit" class="button is-white" id="BtnDeleteYesNo">
                    <span class="icon has-text-danger">
                    <i class="far fa-trash-alt"></i>
                    </span>
                    </button>
                </form>
    {% endif %}

  </header>

 {% if request.user.is_authenticated and request.user.is_athlete %}
 {% csrf_token %}

<div class = "column">
  <label class="subtitle is-size-6 has-text-danger">
  Fatigue Selector
</label>
    <div class="select is-danger is-size-7">
      <select id = 'fatigue-rating' class = 'fatigue-rating is-disabled' key = "{{workout.pk}}">
        <option>{{workout.fatigue_rating}}</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
      </select>
    </div>
  </div>

  {% else %}
  <div class = "column">
  <label class="subtitle is-size-6 has-text-danger">
  Fatigue Selector: {{workout.fatigue_rating}}
</label>
</div>
{% endif %}

  <div class = "card-content">
    <div class="content">
      <div class="table-container">
{% if movements %}
<table class = "table is-responsive is-striped is-fullwidth">
  <thead class="has-text-centered">
    <th>Movement</th>
    {% if user.is_authenticated and user.is_coach %}
    <th>Percentage (%)</th>
    {% endif %}
    <th>Load (kg)</th>
    <th>Load Done (kg)</th>
    <th>Reps</th>
    <th>Reps Done</th>
    <th>RPE</th>

      <th>Actions</th>
      <th></th>
      <th></th>
      <th></th>

  </thead>

  <tbody>
  {% for movement in movements %}

    {% if user.is_authenticated and user.is_athlete %}
    <form id = "id_movement" action="{% url 'athlete:edit_movement' movement.pk %}" method="post">
      {% csrf_token %}
      <td>{{movement.movement_name}}</td>
      {% if movement.kg == None or movement.kg == 0%}
      <td></td>
      {% else %}
      <td>{{movement.kg}}kg</td>
      {%endif%}
      <td>
          <div class="field has-addons is-small">
          <div class="control">
            <input id = "kg_done" class = "kg_done is-primary" style="width:70px; text-align: center;" key = "{{movement.pk}}" name="kg_done" class="input is-small" type="number" step="0.01" min=0 value="{{movement.kg_done}}">
          </div>
          </div>
      </td>
      <td>{{movement.num_reps}}</td>
      {% if movement.num_reps_done %}
      <td>
          <div class="field has-addons is-one-fifth">
          <p class="control">
            <input id = "num_reps_done" class = "num_reps_done is-primary" style="width:50px; text-align: center;" key = "{{movement.pk}}" name="num_reps_done" class="input is-small" type="number" value="{{movement.num_reps_done}}">
          </p>
          </div>

      </td>
      {% else %}
      <td>
          <div class="field has-addons is-small">
          <div class="control">
            <input id = "num_reps_done" class = "num_reps_done is-primary" style="width:50px; text-align: center;" key = "{{movement.pk}}" name="num_reps_done" class="input is-small" type="number" step="0.01" min=0 value="{{movement.num_reps}}">
          </div>
          </div>
      </td>
      {%endif%}
      <td>
          <div class="field has-addons is-one-fifth">
          <div class="control">
            <input id = "rpe" class = "rpe is-primary" style="width:50px; text-align: center;" key = "{{movement.pk}}" name="rpe" class="input is-small" type="number" step="0.5" min=2 value="{{movement.rpe}}">
          </div>
          </div>
      </td>

      </form>

    <td>
      <!----add generate backoff-->

    {%if movement.is_backoff == False and movement.percentage == None %}
      <form method="post" action="{% url 'athlete:generate_backoff' movement.pk %}" >
           {% csrf_token %}
           <button class = 'button is-small is-link' type="submit">
            <i class="fas fa-divide" type="submit"></i>
           </button>
      </form>
    {% endif %}
    </td>
    <td></td>
    <td></td>




    {% else %}

    <form action="{% url 'coach:edit_movement_quick' movement.pk %}" method="post">
      {% csrf_token %}
      <td>
          <div class="field is-small">
          <div class="control">
            <input id = "movement_name" class = "movement_name is-primary" style="width:200px; text-align: center;" key = "{{movement.pk}}" name="movement_name" class="input is-small" type="text" value="{{movement.movement_name}}">
          </div>
          </div>
      </td>
      <td>
          <div class="field is-small">
          <div class="control">
            <input id = "percentage" class = "percentage is-primary" style="width:70px; text-align: center;" key = "{{movement.pk}}" name="percentage" class="input is-small" type="number" step="0.01" min=0 value="{{movement.percentage}}">
          </div>
          </div>
      </td>
      <td>
          <div class="field is-small">
          <div class="control">
            <input id = "kg_done" class = "kg_done is-primary" style="width:70px; text-align: center;" key = "{{movement.pk}}"  name="kg" class="input is-small" type="number" step="0.01" min=0 value="{{movement.kg}}">
          </div>
          </div>
      </td>
      <td style="width:50px; text-align: center;">{{movement.kg_done}}kg</td>
      <td>
          <div class="field is-small">
          <div class="control">
            <input id = "num_reps_done" class = "num_reps_done is-primary" style="width:50px; text-align: center;" key = "{{movement.pk}}" name="num_reps" class="input is-small" type="number" value="{{movement.num_reps}}">
          </div>
          </div>
      </td>
      <td style="width:50px; text-align: center;">{{movement.num_reps_done}}</td>
      <td>
          <div class="field is-one-fifth">
          <div class="control">
            <input id = "rpe" class = "rpe is-primary" style="width:50px; text-align: center;" key = "{{movement.pk}}" name="rpe" class="input is-small" type="number" step="0.1" min=2 value="{{movement.rpe}}">
          </div>
          </div>
      </td>
      <td>
          <div class="custom-control custom-checkbox">
            <input id = "checked" class = "checked is-primary" key = "{{movement.pk}}" type="checkbox" class="custom-control-input" name="is_backoff"{% if movement.is_backoff %} checked {% endif %}>
            <label class="custom-control-label" for="customCheck1">Back-off Set</label>
          </div>
      </td>
      <td>

        <select id = 'rm' class = 'rm is-primary' key = "{{movement.pk}}" name = 'rm'>
            <option value="None">Rep Max</option>
            {% for max in rm %}
              <option value = "{{max.rep_max}}">{{max.rep_max_name}}: {{max.rep_max}}</option>
            {% endfor %}
        </select>
      </td>
        </form>

      <td>
          <table class = "table is-responsive">

          <form method="post" action="{% url 'coach:duplicate' movement.pk %}" >
           {% csrf_token %}
           <button class = 'button is-small' type="submit">
            <i class="fas fa-clone" type="submit"></i>
           </button>
           </form>

        <form method="post" action="{% url 'coach:delete' movement.pk %}" >
          {% csrf_token %}
          <button class = 'button is-small' type="submit">
            <i class="fas fa-eraser" type="submit"></i>
           </button>
        </form>

        </table>
       </td>
    {% endif %}

    </tr>
  {% endfor %}
{% endif %}
  </tbody>
</table>
</div>
</div>
</div>

<footer class="card-footer">

 <a href="{% url 'app:log_view' pk=workout.athlete.pk%}" class="card-footer-item" role="button">Back to Logs</a>


 {% if user.is_authenticated and user.is_coach %}

 	<a href="{% url 'coach:add_movement_test' pk=workout.athlete.pk pk_2=workout.pk %}" class="card-footer-item" role="button">Add Movement</a>



 {% endif %}
 {% if user.is_authenticated and user.is_athlete %}

  <a href="{% url 'athlete:edit_workout' workout_id=workout.pk%}" class="card-footer-item" role="button">Mass Edit Workout</a>
  {% if not workout.completed %}
  <a href="{% url 'athlete:submit' workout_id=workout.pk%}" class="card-footer-item" role="button">Complete Workout!</a>
  {% else %}
  <a href="{% url 'athlete:submit' workout_id=workout.pk%}" class="card-footer-item" role="button">Workout in Progress!</a>
  {% endif %}
{% endif %}
</footer>
</div>

<div class = "section">
  <div class = "title is-4 has-text-white">Comments:</div>
  <form action="{% url 'app:add_comment' workout.pk %}" method="post">
      {% csrf_token %}

          <div class="field is-small">
          <div class="control">
            <input name="content" class="textarea" type="text">
          </div>
          </div>
          <button class = 'button is-small is-success' type="submit" value="Save">
          <span class="icon is-small ">
            <i class="fas fa-check"></i>
          </span>
          <span>Add Comment</span>
        </button>
        </form>
{% if comments %}

{% for comment in comments %}
<div class = "column is-7">
  <div class = "box">
<article class="media">
  <div class="media-content">
    <div class="content">
      <p>
        <strong>{{comment.creator}}</strong> says:
        <br>
        {{comment.content}}
      </p>
      <p class = "subtitle is-7">
        {{comment.created_at}}
      </p>
    </div>
  </div>
  <div class="media-right">
    <a href="{% url 'app:delete_comment' comment_id=comment.pk %}" class="buttons is-danger float-right">

        <i class="fas fa-eraser"></i>

    </a>
  </div>
  </article>
</div>
</div>
  {%endfor%}
{% endif %}

</div>

{% endblock %}
