{% extends 'navbar.html' %}


<script>
  {% block jquery %}
if(localStorage.getItem('openContent')==null){
  var content_opened = [];
  localStorage.setItem('openContent', content_opened)
}
  function popitup(url) {
    newwindow=window.open(url,'{{title}}','height=200,width=150');
    if (window.focus) {newwindow.focus()}
    return false;
}


  function endEdit(e) {
    var input = $(e.target),
        label = input && input.prev();

    label.text(input.val() === '' ? defaultText : input.val());
    input.hide();
    label.show();
  }

    $('.clickedit').hide()
    .change(function(){
      var type = $(this).attr('key_two');
      if(type == 'workout'){
      var workout_name = $(this).val();
      if(workout_name == ""){
        e.preventDefault();
      }
      var pk = $(this).attr('key');
      console.log($(this).val());

      $.ajax({
         url: "/app/ajax/validate_workout_name/",
        type: "POST",
        data: {
          csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
          'pk': pk,
          'workout_name': workout_name
        },
        success: function (data) {
          console.log(data)
          $('.animated-success').css("visibility","visible").fadeIn(500);
          setTimeout(function(){
              $('.animated-success').fadeOut(500);
            },1500);
        }
      });
    }else if(type=='description'){
      var description= $(this).val();
      var pk = $(this).attr('key');
      var old_name = $(this).attr('old_name');
      console.log(description)
      $.ajax({
         url: "/app/ajax/validate_description/",
        type: "POST",
        data: {
          csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
          'pk': pk,
          'description': description,
          'old_name': old_name
        },
        success: function (data) {
          console.log(data)
          $('.animated-success').css("visibility","visible").fadeIn(500);
          setTimeout(function(){
              $('.animated-success').fadeOut(500);
            },1500);
        }
      });
    }else{
      var movement_name = $(this).val();
      var pk = $(this).attr('key');
      var old_name = $(this).attr('old_name');
      console.log($(this).val());
      if(movement_name == ""){
        e.preventDefault();
      }
      $.ajax({
         url: "/app/ajax/validate_movement_group_name/",
        type: "POST",
        data: {
          csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
          'pk': pk,
          'movement_name': movement_name,
          'old_name': old_name
        },
        success: function (data) {
          console.log(data)
          $('.animated-success').css("visibility","visible").fadeIn(500);
          setTimeout(function(){
              $('.animated-success').fadeOut(500);
            },1500);
        }
      });
    }
    })
    .focusout(endEdit)
    .keyup(function (e) {
        if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
            endEdit(e);
            return false;
        } else {
            return true;
        }
    })
      .prev().click(function () {
      $(this).hide();
      $(this).next().show().focus();
    });





    $(".kg_done").change(function () {
      var kg_done = $(this).val();
      var pk = $(this).attr('key');
      console.log( $(this).attr('key') );

      $.ajax({
        url: "/app/ajax/validate_kg/",
        type: "POST",
        data: {
          csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
          'pk': pk,
          'kg_done': kg_done
        },
        success: function (data) {
          console.log(data)
          $('.animated-success').css("visibility","visible").fadeIn(500);
          setTimeout(function(){
              $('.animated-success').fadeOut(500);
            },1500);
        }

      });

    });

    $(".num_reps_done").change(function () {
      var num_reps_done = $(this).val();
      var pk = $(this).attr('key');
      console.log( $(this).attr('key') );

      $.ajax({
        url: "/app/ajax/validate_num_reps/",
        type: "POST",
        data: {
          csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
          'pk': pk,
          'num_reps_done': num_reps_done
        },
        success: function (data) {
          console.log(data)
          $('.animated-success').css("visibility","visible").fadeIn(500);
          setTimeout(function(){
              $('.animated-success').fadeOut(500);
            },1500);
        }
      });

    });

    $(".rpe").change(function () {
      var rpe = $(this).val();
      var pk = $(this).attr('key');
      console.log( $(this).attr('key') );

      $.ajax({
        url: "/app/ajax/validate_rpe/",
        type: "POST",
        data: {
          csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
          'pk': pk,
          'rpe': rpe
        },
        success: function (data) {
          console.log(data)
          $('.animated-success').css("visibility","visible").fadeIn(500);
          setTimeout(function(){
              $('.animated-success').fadeOut(500);
            },1500);
        }
      });

    });

    $(".movement_name").change(function () {
      var movement_name = $(this).val();
      var pk = $(this).attr('key');
      console.log( $(this).attr('key') );

      $.ajax({
        url: "/app/ajax/validate_movement_name/",
        type: "POST",
        data: {
          csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
          'pk': pk,
          'movement_name': movement_name
        },
        success: function (data) {
          console.log(data)
          $('.animated-success').css("visibility","visible").fadeIn(500);
          setTimeout(function(){
              $('.animated-success').fadeOut(500);
            },1500);

        }
      });

    });


    $(".percentage").change(function () {

      var percentage = $(this).val();
      var pk = $(this).attr('key');
      console.log( $(this).attr('key') );

      $.ajax({
        url: "/app/ajax/validate_percentage/",
        type: "POST",
        data: {
          csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
          'pk': pk,
          'percentage': percentage
        },
        success: function (data) {
          console.log(data)
          $('.animated-success').css("visibility","visible").fadeIn(500);
          setTimeout(function(){
              $('.animated-success').fadeOut(500);
            },1500);
        }
      });

    });

    $(".rm").change(function () {
      var rm = $(this).val();
      var pk = $(this).attr('key');
      console.log( $(this).attr('key') );

      $.ajax({
        url: "/app/ajax/validate_rm/",
        type: "POST",
        data: {
          csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
          'pk': pk,
          'rm': rm
        },
        success: function (data) {
          console.log(data)
          location.reload();
        }
      });

    });

    $(".checked").change(function () {
      var checked = $(this).val();
      var pk = $(this).attr('key');
      console.log( checked );

      $.ajax({
        url: "/app/ajax/validate_checked/",
        type: "POST",
        data: {
          csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
          'pk': pk,
          'checked': checked

        },
        success: function (data) {
          console.log(data)
          $('.animated-success').css("visibility","visible").fadeIn(500);
          setTimeout(function(){
              $('.animated-success').fadeOut(500);
            },1500);
        }
      });

    });

    $("#fatigue-rating").change(function () {
      var fatigue = $(this).val();
      var pk = $(this).attr('key');
      console.log( fatigue );

      $.ajax({
        url: "/athlete/ajax/submit_fatigue/",
        type: "POST",
        data: {
          csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
          'pk': pk,
          'fatigue': fatigue

        },
        success: function (data) {
          console.log(data)
          location.reload();
        }
      });

    });

    $(".load-done-accessory").change(function () {
      var load_done = $(this).val();
      var pk = $(this).attr('key');
      console.log( pk );
      console.log( load_done );

      $.ajax({
        url: "/athlete/ajax/accessory_load_done/",
        type: "POST",
        data: {
          csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
          'pk': pk,
          'load_done': load_done

        },
        success: function (data) {
          console.log(data)
          $('.animated-success').css("visibility","visible").fadeIn(500);
          setTimeout(function(){
              $('.animated-success').fadeOut(500);
            },1500);
        }
      });

    });

    $(".prot-done-accessory").change(function () {
      var prot_done = $(this).val();
      var pk = $(this).attr('key');
      console.log( pk );
      console.log( prot_done );

      $.ajax({
        url: "/athlete/ajax/accessory_protocol_done/",
        type: "POST",
        data: {
          csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
          'pk': pk,
          'prot_done': prot_done

       },
        success: function (data) {
          console.log(data)
          $('.animated-success').css("visibility","visible").fadeIn(500);
          setTimeout(function(){
              $('.animated-success').fadeOut(500);
            },1500);
        }
      });

    });


    $("#add-accessory").click(function () {
      
      $(".modal").addClass("is-active");
    });

    $(".delete-accessory").click(function () {
      var pk = $(this).attr('key_two');
      var accessory_name = $(this).attr('key');
      console.log(pk)
      console.log(accessory_name)
      $.ajax({
            url: "/coach/ajax/delete_accessory/",
            type: "POST",
            data: {
              csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
              'pk': pk,
              "accessory_name": accessory_name,
            },
            success: function (data) {
              console.log(data)
              location.reload();
            }
          });
    });

    $(".no").click(function() {
       $(".modal").removeClass("is-active");
    });

    $(".yes").click(function() {
      var accessory_name = $("#accessory-name").val();
      var accessory_desc = $("#accessory-desc").val();
      var accessory_sets = $("#accessory-sets").val();
      var accessory_reps = $("#accessory-reps").val();
      var accessory_units = $("#accessory-units").val();
      var accessory_load = $("#accessory-load").val();
      var pk = $(this).attr('key');
       $.ajax({
            url: "/coach/ajax/add_accessory/",
            type: "POST",
            data: {
              csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
              'pk': pk,
              "accessory_name": accessory_name,
              "accessory_desc": accessory_desc,
              "accessory_sets": accessory_sets,
              "accessory_reps": accessory_reps,
              "accessory_units": accessory_units,
              "accessory_load": accessory_load,
            },
            success: function (data) {
              console.log(data)
              location.reload();
            }
          });
       $(".modal").removeClass("is-active");
    });

    $(".card-toggle").click(function() {
      var toggle = $(this).attr('id');
      var openContent = localStorage.getItem('openContent');
      console.log(openContent.indexOf(toggle));
      if (openContent.indexOf(toggle)>=0){
        openContent = openContent.replace(toggle,"");
        localStorage.setItem('openContent', openContent);
        console.log(localStorage)
      }
      else{

        openContent = openContent + toggle + ", "
        localStorage.setItem('openContent', openContent);
        console.log(localStorage)
      }
    });

    var toggle = localStorage.getItem('openContent');
  
    var all_card_open = toggle.split(', ');
    $.each(all_card_open, function(index, value){
      if(value!==""){
        var toggle_content = value+'-content'
        $('#'+toggle_content).removeClass('is-hidden');
        console.log(localStorage)
      }
    });
  {% endblock %}
</script>


{% block content %}

{% if request.user.is_authenticated and request.user.is_athlete %}
<div class="column is-half is-offset-one-quarter">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title is-size-4">Instructions</p>
                <a class="card-header-icon card-toggle">
                  <i class="fa fa-angle-down"></i>
                </a>
              </header>
            <div class="card-content is-hidden">
                <div class="content">
                  <p><strong>1)</strong> The Blue Divide Button (athletes only) require you to key in your load done and reps done before
                  it can calculate your backoff sets</p>
                </div>
              </div>
            </div>
          </div>
{% else %}
<div class="column is-half is-offset-one-quarter">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title is-size-4">Tips</p>
                <a class="card-header-icon card-toggle">
                  <i class="fa fa-angle-down"></i>
                </a>
              </header>
            <div class="card-content is-hidden">
                <div class="content">
                  <p><strong>1)</strong>Keep naming conventions across movements the same. i.e. bench press, not bench press followed by bench. This will help in Analytics.</p>
                  <p><strong>2)</strong>Name all relevant squat movements with 'Squat' in the name, bench press movements with 'Press' in the name, and deadlift movements with 'Deadlift' in the name if you want to track if in Analytics</p>
                  <p><strong>3)</strong>To make use of load drops, go to the movement you wish to load drop from, select the appropriate load drop, and click the 'duplicate' button. The subsequent rep will reflect the dropped percentage</p>
                  <p><strong>4)</strong>Dont forget to enter a % when you want to base a set off an established 1rm!</p>
                </div>
              </div>
            </div>
          </div>

{% endif %}







<div class="container section">
<div class = "card is-fluid">
  <header class = "card-header-title">

    {% if request.user.is_authenticated and request.user.is_coach %}
    <label class="pull-left">{{ workout.workout_name }}</label>
    <input class="clickedit" key = "{{workout.pk}}" key_two = "workout" value = "{{ workout.workout_name }}"type="text" />

    <p id = "card-header-title" class = "card-header-title">
      <i class="fas fa-pen"></i>
    {% else %}
    <p id = "card-header-title" class = "card-header-title">
      {{ workout.workout_name }}
    {% endif %}
      {% if not workout.completed %}
      &nbsp;<span class="tag">In Progress</span>
      {%else%}
      &nbsp;<span class="tag is-success">Completed!</span>
      {%endif%}
    </p>




    {% if request.user.is_authenticated and request.user.is_coach %}
    <form action="{% url 'coach:delete_workout' athlete_id=workout.athlete.pk workout_id=workout.pk %}"
                    method="post" style="display: inline;" onsubmit="window.mytest()">
                    {% csrf_token %}
                    <button type="submit" class="button is-white" id="BtnDeleteYesNo">
                    <span class="icon has-text-danger">
                    <i class="far fa-trash-alt"></i>
                    </span>
                    </button>
                </form>
    {% endif %}

  </header>


 {% if request.user.is_authenticated and request.user.is_athlete %}
 {% csrf_token %}

<div class = "column">
  <label class="subtitle is-size-6 has-text-danger">
  Fatigue Selector
</label>
    <div class="select is-danger is-size-7">
      <select id = 'fatigue-rating' class = 'fatigue-rating is-disabled' key = "{{workout.pk}}">
        <option>{{workout.fatigue_rating}}</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
      </select>
    </div>
  </div>

  {% else %}
  <div class = "column">
  <label class="subtitle is-size-6 has-text-danger">
  Fatigue Selector: {{workout.fatigue_rating}}
</label>
</div>
{% endif %}

{% if user.is_authenticated and user.is_athlete %}
{% regroup movements by movement_name as movement_list %}
  {% for movement in movement_list %}

    <div class="card is-fullwidth">
      <header class="card-header">
        {% if movement.list.0.description %}
        <p class="card-header-title">{{ movement.grouper }} - {{movement.list.0.description}} </p>
        {% else %}
        <p class="card-header-title">{{ movement.grouper }}</p>
        {% endif %}


        <a id = "{{movement.grouper.0}}{{movement.list.0.pk}}" class="card-header-icon card-toggle">
          <i class="fa fa-angle-down"></i>
        </a>
      </header>
      <div id = "{{movement.grouper.0}}{{movement.list.0.pk}}-content" class="card-content is-hidden">
            <div class="table-container">
    <table class = "table is-responsive is-striped is-fullwidth">
      <thead class="has-text-centered">


    <th style="width:50%; text-align: center;">Protocol</th>
    <th>Kg Done</th>
    <th>Reps Done</th>
    <th>RPE</th>
    <th>Actions</th>


  </thead>

  <tbody>

    {% for indiv in movement.list %}
    <tr>
      <td style="width:50%; text-align: center;">
        {% if indiv.kg == None %}
          {% if indiv.num_reps == 1 %}
            x{{indiv.num_reps}} @ {{indiv.rpe}}
          {% endif %}
        {% else %}
        {{indiv.kg}}kg x {{indiv.num_reps}}
        {% endif %}
      </td>
      <td><input id = "kg_done" class = "kg_done input is-primary is-small" style="width:70px; text-align: center;" key = "{{indiv.pk}}" name="kg_done" class="input is-small" type="number" step="0.01" min=0 value="{{indiv.kg_done}}"></td>
      <td><input id = "num_reps_done" class = "num_reps_done input is-primary is-small" style="width:50px; text-align: center;" key = "{{indiv.pk}}" name="num_reps_done" class="input is-small" type="number" value="{{indiv.num_reps_done}}"></td>
      <td><input id = "rpe" class = "rpe input is-primary is-small" style="width:50px; text-align: center;" key = "{{indiv.pk}}" name="rpe" class="input is-small" type="number" step="0.5" min=2 value="{{indiv.rpe}}"></td>
      <td>
        {%if indiv.is_backoff == False %}
          <form method="post" action="{% url 'athlete:generate_backoff' indiv.pk %}" >
           {% csrf_token %}
           <button class = 'button is-small is-link' type="submit">
            <i class="fas fa-divide" type="submit"></i>
           </button>
          </form>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
</table>
</div>
      </div>
  </div>



{% endfor %}
{% else %}


<!------------------------------------COACH!------------------------------------------>


{% regroup movements by movement_name as movement_list %}
  {% for movement in movement_list %}



    <div class="card is-fullwidth">
      <div class="card-content">

        <label class="is-size-5 pull-left"><strong>{{ movement.grouper }}</strong> </label>
        <input class="clickedit" key = "{{workout.pk}}" key_two = "movement_group" old_name ="{{ movement.grouper }}" value = "{{ movement.grouper }}"type="text" />

        <span id = "card-header-title" class = "card-header-title">
          <i class="fas fa-pen is-info"></i>
        </span>
        <h6 class="subtitle is-6 is-italic">{{movement.list.0.description}} <span><i class="fas fa-pen is-info"></i></span></h6>
        <input class="clickedit" key = "{{workout.pk}}" key_two = "description" old_name ="{{ movement.grouper }}" value = "{{ movement.list.0.description }}"type="text" />

        <div class="table-container">
        <table class = "table is-responsive is-striped is-fullwidth">
         <thead class="has-text-centered">
           <th style="text-align: center;">Percentage (%)</th>

            <th style="text-align: center;">Load (kg)</th>
            <th style="text-align: center;">Load Done (kg)</th>
            <th style="text-align: center;">Reps</th>
            <th style="text-align: center;">Reps Done</th>
            <th style="text-align: center;">RPE</th>
            <th style="width: 17%; text-align: center;">Actions</th>

        </thead>

  <tbody>

    {% for indiv in movement.list %}
    <tr>
      <td style="text-align: center;">
        <input id = "percentage{{indiv.pk}}" class = "percentage input is-primary is-small" style="width:70px; text-align: center;" key = "{{indiv.pk}}" name="percentage" class="input is-small" type="number" step="0.01" min=0 value="{{indiv.percentage}}">
      </td>
      <td style="text-align: center;">
        <input id = "kg_done" class = "kg_done input is-primary is-small" style="width:70px; text-align: center;" key = "{{indiv.pk}}"  name="kg" class="input is-small" type="number" step="0.01" min=0 value="{{indiv.kg}}">
      </td>
      <td style="text-align: center;">{{indiv.kg_done}}</td>
      <td style="text-align: center;"><input id = "num_reps_done" class = "num_reps_done input is-primary is-small" style="width:50px; text-align: center;" key = "{{indiv.pk}}" name="num_reps" class="input is-small" type="number" value="{{indiv.num_reps}}"></td>
      <td style="text-align: center;">{{indiv.num_reps_done}}</td>
      <td style="text-align: center;">
        <input id = "rpe" class = "rpe input is-primary is-small" style="width:50px; text-align: center;" key = "{{indiv.pk}}" name="rpe" class="input is-small" type="number" step="0.1" min=2 value="{{indiv.rpe}}">
      </td style="text-align: center;">
        <td>
        <div class = "columns is-mobile">
          <div class = "column is-3">
          <div class="custom-control custom-checkbox">
            <input id = "checked" class = "checked is-primary is-small" style="text-align: center;" key = "{{indiv.pk}}" type="checkbox" class="custom-control-input" name="is_backoff"{% if indiv.is_backoff %} checked {% endif %}>
            <label class="custom-control-label" for="customCheck1">Back-off</label>
          </div>
          </div>
        <div class = "column is-3">
        <select id = 'rm' class = 'rm is-primary' key = "{{indiv.pk}}" name = 'rm'>
            <option value="None">Rep Max</option>
            {% for max in rm %}
              <option value = "{{max.rep_max}}">{{max.rep_max_name}}: {{max.rep_max}}</option>
            {% endfor %}
        </select>
        </div>
        <div class = "column is-3">
        <select id = 'load_drop' class = 'load_drop' key = "{{indiv.pk}}" name = 'load_drop' form="duplicate{{indiv.pk}}">
            <option value="0">Load Drop</option>
              <option value = "0.025">2.5%</option>
              <option value = "0.05">5%</option>
              <option value = "0.075">7.5%</option>
              <option value = "0.1">10%</option>
              <option value = "0.125">12.5%</option>
              <option value = "0.15">15%</option>
              <option value = "0.175">17.5%</option>
              <option value = "0.2">20%</option>
          </select>
        </div>
        <div class = "column is-1">
          <form method="post" id="duplicate{{indiv.pk}}" action="{% url 'coach:duplicate' indiv.pk %}" >
           {% csrf_token %}

           <button class = 'button is-small' type="submit">
            <i class="fas fa-clone" type="submit"></i>
           </button>
           </form>
        </div>
        <div class = "column is-1">
        <form method="post" action="{% url 'coach:delete' indiv.pk %}" >
          {% csrf_token %}
          <button class = 'button is-small' type="submit">
            <i class="fas fa-eraser" type="submit"></i>
           </button>
        </form>
      </div>

      </div>
       </td>
    </tr>
    {% endfor %}
</table>
</div>
      </div>
  </div>



{% endfor %}

{% endif %}

{% if request.user.is_authenticated and request.user.is_coach %}
<div class="card is-fullwidth">
  <div class="card-content">
    <h4 class="title is-4"><strong>Accessories</strong></h4>
      {% regroup accessories by accessory_name as accessory_list %}
        {% for accessory in accessory_list %}
        <div class = "card-content">
        
          <h5 class = "title is-5">{{accessory.grouper}} <span class="icon has-text-danger"><i id = "delete-accessory" key="{{accessory.list.0.accessory_name}}" key_two="{{workout.pk}}" class="fas fa-times delete-accessory"></i></span></h5>
          <tr><h6 class="subtitle is-6 is-italic">- {{accessory.list.0.description}}</h6></tr>
          <div class="table-container">
        
         
          <table class = "table is-responsive is-striped">
            <thead class="has-text-centered">


              <th style="text-align: center;">Kg Done</th>
              <th>Kg</th>
              <th>Completed</th>
              <th>Prescribed</th>


              </thead>
           <tbody>
          {% for indiv in accessory.list %}

            <tr style="text-align: center;">              
                <td style="text-align: center; ">
                {% if indiv.load_done %}
                  {{indiv.load_done}} kg
                {% else %}
                  <strong>-</strong>
                {% endif %}
              </td>
              
                <td style="text-align: center; ">
                  {% if indiv.load %}
                  {{indiv.load}} kg
                {% else %}
                  <strong>-</strong>
                {% endif %}
              </td>
  
              <td style="text-align: center;">
                {% if indiv.measurement_done %}
                  {{indiv.measurement_done}}
                {% else %}
                 0
                 {% endif %}
               {{indiv.get_units_display}}
             </td>
              <td style="text-align: center;">{{indiv.measurement}} {{indiv.get_units_display}}</td>
            </tr>
          {%endfor%}
  </tbody>
          </table>
     
    </div>
          
            
            
        </div>
      {% endfor %}
    </div>
</div>


{% else %}

{% regroup accessories by accessory_name as accessory_list %}
{% if accessories %}
<div class="card is-fullwidth">
  <header class="card-header">
        <p class="card-header-title">Accessories</p>
        <a id = "accessories" class="card-header-icon card-toggle">
          <i class="fa fa-angle-down"></i>
        </a>
      </header>
  <div id = "accessories-content" class="card-content is-hidden">
      
        {% for accessory in accessory_list %}
        <div class = "card-content">
        
          <h5 class = "title is-5">{{accessory.grouper}}</h5>
          <tr><h6 class="subtitle is-6 is-italic">- {{accessory.list.0.description}}</h6></tr>
          <div class="table-container">
        
          <table class = "table is-responsive is-striped">
            <thead class="has-text-centered">


              <th style="text-align: center;">Kg Done</th>
              <th>Kg</th>
              <th>Completed</th>
              <th>Prescribed</th>


            </thead>
          <tbody>
          {% for indiv in accessory.list %}
            <tr style="text-align: center;">
              <td style="text-align: center;"><input class = "load-done-accessory" style="text-align: center; width:50px"/ key = "{{indiv.pk}}" placeholder="{{indiv.load_done}}" type="number"> kg</td>
              
              <td style="text-align: center;">
                {% if indiv.load %}
                  {{indiv.load}} kg
                {% else %}
                  <strong>-</strong>
                {% endif %}
                </td>
    
              
              
              <td style="text-align: center;"><input class = "prot-done-accessory" type="number" style="text-align: center; width:50px" key = "{{indiv.pk}}" placeholder="{{indiv.measurement_done}}" /> {{indiv.get_units_display}}</td>
              <td style="text-align: center;">{{indiv.measurement}} {{indiv.get_units_display}}</td>
            </tr>
          {%endfor%}
  </tbody>
          </table>
     
    </div>
          
            
            
        </div>
      {% endfor %}
    </div>
</div>
{% endif %}
{% endif %}


<!--{% if user.is_authenticated and user.is_coach %}
  <div class = "card-content">
    <div class="content">
      <div class="table-container">
{% if movements %}
<table class = "table is-responsive is-striped is-fullwidth">
  <thead class="has-text-centered">
    <th style="text-align: center;" >Movement</th>

    <th>Percentage (%)</th>

    <th>Load (kg)</th>
    <th>Load Done (kg)</th>
    <th>Reps</th>
    <th>Reps Done</th>
    <th>RPE</th>

      <th style="text-align: center;">Actions</th>


  </thead>

  <tbody>



  {% for movement in movements %}

    {% if user.is_authenticated and user.is_coach %}

    <form action="{% url 'coach:edit_movement_quick' movement.pk %}" method="post">
      {% csrf_token %}
      <td>
          <div class="field is-small">
          <div class="control">
            <input id = "movement_name" class = "movement_name input is-primary is-small" style="width:200px; text-align: center;" key = "{{movement.pk}}" name="movement_name" class="input is-small" type="text" value="{{movement.movement_name}}">
          </div>
          </div>
      </td>
      <td>
          <div class="field is-small">
          <div class="control">
            <input id = "percentage" class = "percentage input is-primary is-small" style="width:70px; text-align: center;" key = "{{movement.pk}}" name="percentage" class="input is-small" type="number" step="0.01" min=0 value="{{movement.percentage}}">
          </div>
          </div>
      </td>
      <td>
          <div class="field is-small">
          <div class="control">
            <input id = "kg_done" class = "kg_done input is-primary is-small" style="width:70px; text-align: center;" key = "{{movement.pk}}"  name="kg" class="input is-small" type="number" step="0.01" min=0 value="{{movement.kg}}">
          </div>
          </div>
      </td>
      <td style="width:50px; text-align: center;">{{movement.kg_done}}kg</td>
      <td>
          <div class="field is-small">
          <div class="control">
            <input id = "num_reps_done" class = "num_reps_done input is-primary is-small" style="width:50px; text-align: center;" key = "{{movement.pk}}" name="num_reps" class="input is-small" type="number" value="{{movement.num_reps}}">
          </div>
          </div>
      </td>
      <td style="width:50px; text-align: center;">{{movement.num_reps_done}}</td>
      <td>
          <div class="field is-one-fifth">
          <div class="control">
            <input id = "rpe" class = "rpe input is-primary is-small" style="width:50px; text-align: center;" key = "{{movement.pk}}" name="rpe" class="input is-small" type="number" step="0.1" min=2 value="{{movement.rpe}}">
          </div>
          </div>
      </td>
      <td>
        <div class = "columns is-mobile">
          <div class = "column is-3">
          <div class="custom-control custom-checkbox">
            <input id = "checked" class = "checked is-primary is-small" key = "{{movement.pk}}" type="checkbox" class="custom-control-input" name="is_backoff"{% if movement.is_backoff %} checked {% endif %}>
            <label class="custom-control-label" for="customCheck1">Back-off</label>
          </div>
          </div>
        <div class = "column is-4">
        <select id = 'rm' class = 'rm is-primary' key = "{{movement.pk}}" name = 'rm'>
            <option value="None">Rep Max</option>
            {% for max in rm %}
              <option value = "{{max.rep_max}}">{{max.rep_max_name}}: {{max.rep_max}}</option>
            {% endfor %}
        </select>

        </form>
        </div>
        <div class = "column is-3">
        <select id = 'load_drop' class = 'load_drop' key = "{{movement.pk}}" name = 'load_drop' form="duplicate{{movement.pk}}">
            <option value="0">Load Drop</option>
              <option value = "0.025">2.5%</option>
              <option value = "0.05">5%</option>
              <option value = "0.075">7.5%</option>
              <option value = "0.1">10%</option>
              <option value = "0.125">12.5%</option>
              <option value = "0.15">15%</option>
              <option value = "0.175">17.5%</option>
              <option value = "0.2">20%</option>
          </select>
        </div>
        <div class = "column is-1">
          <form method="post" id="duplicate{{movement.pk}}" action="{% url 'coach:duplicate' movement.pk %}" >
           {% csrf_token %}

           <button class = 'button is-small' type="submit">
            <i class="fas fa-clone" type="submit"></i>
           </button>
           </form>
        </div>
        <div class = "column is-1">
        <form method="post" action="{% url 'coach:delete' movement.pk %}" >
          {% csrf_token %}
          <button class = 'button is-small' type="submit">
            <i class="fas fa-eraser" type="submit"></i>
           </button>
        </form>
      </div>

      </div>
       </td>
    {% endif %}

    </tr>
  {% endfor %}
{% endif %}
  </tbody>
</table>
</div>
</div>
</div>
    {% endif %}-->
<footer class="card-footer">

 <a href="{% url 'app:log_view' pk=workout.athlete.pk%}" class="card-footer-item" role="button">Back to Logs</a>


 {% if user.is_authenticated and user.is_coach %}

 	<a href="{% url 'coach:add_movement_test' pk=workout.athlete.pk pk_2=workout.pk %}" class="card-footer-item" role="button">Add Movement</a>
  <a id="add-accessory" class="card-footer-item" role="button">Add Accessory</a>
  <div class="modal" >
                    <div class="modal-background"></div>
                      <div class="modal-card">
                        <header class="modal-card-head  has-background-info">
                          <p class="modal-card-title has-text-white">Add Accessory</p>
                        </header>
                        <section class="modal-card-body" >
                          <div class = "column is-5">
                            <label>Accessory Name</label>
                            <input id="accessory-name" class="input" type="text" placeholder="e.g. Barbell Row">
                          </div>
                          <div class="column is-9">
                            <label>Description</label>
                            <input id="accessory-desc" class="input" type="text" placeholder="Optional">
                          </div>
                          <div class = "column">
                          <div class = "columns">
                            <div class="column is-2">
                              <label>No. Sets</label>
                              <input id="accessory-sets" class="input" type="number">
                            </div>

                             <div class="column is-1">
                              <div class="column is-text-centered"></div>
                              <span>
                                <i class="fas fa-times"></i> 
                              </span>
                            </div>
                            <div class = "column is-5">
                              <label>Protocol</label>
                              <div class="field has-addons">
                              
                                <p class="control">
                                  <input id="accessory-reps" class="input" type="text"placeholder="e.g. 8-20"> 
                                </p>
                                <p class="control">
                                  <span class="select">
                                    <select id = "accessory-units">
                                      <option value="0">metres</option>
                                      <option value="1">sec</option>
                                      <option value="2">min</option>
                                      <option value="3" selected="selected">reps</option>
                                    </select>
                                  </span>
                                </p>
                              </div>
                            </div>
                            
                            <div class="column is-1">
                              <div class="column is-text-centered"></div>
                              <span>
                                <i class="fas fa-times"></i> 
                              </span>
                            </div>
                            
                            <div class="column is-2">
                              <label>Load</label>
                              <input id="accessory-load" class="input" type="number" placeholder="Optional"> 
                            </div>
                          </div>
                        </div>
                        </section>
                        <footer class="modal-card-foot">
                          <div class = column>
                          <button class="button yes is-success" key="{{workout.pk}}">Add Accessory</button>
                          <button class="button is-danger no pull-right">Nevermind!</button>
                        </div>
                        </footer>
                      </div>
                    </div>

 {% endif %}
 {% if user.is_authenticated and user.is_athlete %}

  <a href="{% url 'athlete:edit_workout' workout_id=workout.pk%}" class="card-footer-item" role="button">Mass Edit Workout</a>
  {% if not workout.completed %}
  <a href="{% url 'athlete:submit' workout_id=workout.pk%}" class="card-footer-item" role="button">Complete Workout!</a>
  {% else %}
  <a href="{% url 'athlete:submit' workout_id=workout.pk%}" class="card-footer-item" role="button">Workout in Progress!</a>
  {% endif %}
{% endif %}
</footer>
</div>

<div class = "section">
  <div class = "title is-4 has-text-white">Comments:</div>
  <form action="{% url 'app:add_comment' workout.pk %}" method="post">
      {% csrf_token %}

          <div class="field is-small">
          <div class="control">
            <textarea name="content" class="textarea" type="text"></textarea>
          </div>
          </div>
          <button class = 'button is-small is-success' type="submit" value="Save">
          <span class="icon is-small ">
            <i class="fas fa-check"></i>
          </span>
          <span>Add Comment</span>
        </button>
        </form>
{% if comments %}

{% for comment in comments %}
<div class = "column is-7">
  <div class = "box">
<article class="media">
  <div class="media-content">
    <div class="content">
      <p>
        <strong>{{comment.creator}}</strong> says:
        <br>
        {{comment.content}}
      </p>
      <p class = "subtitle is-7">
        {{comment.created_at}}
      </p>
    </div>
  </div>
  <div class="media-right">
    <a href="{% url 'app:delete_comment' comment_id=comment.pk %}" class="buttons is-danger float-right">

        <i class="fas fa-eraser"></i>

    </a>
  </div>
  </article>
</div>
</div>
  {%endfor%}
{% endif %}

</div>

<div style="width:100%;z-index:99999;position:fixed;pointer-events:none;display:flex;flex-direction:column;padding:15px;bottom:0;left:0;right:0;text-align:center;align-items:center;"><div class="tag is-success animated-success is-large" style="width:auto; pointer-events:auto;display:inline-flex;opacity:1; visibility: hidden;"><i class="far fa-check-circle"></i></div></div>

  <div style="width:100%;z-index:99999;position:fixed;pointer-events:none;display:flex;flex-direction:column;padding:15px;bottom:0;left:0;right:0;text-align:center;align-items:center; "><div class="tag is-warning animated-warning is-large" style="width:auto; pointer-events:auto;display:inline-flex;opacity:1; visibility: hidden;"><i class="far fa-check-circle"></i></div></div>

{% endblock %}
