
{% load static %}
{% load bulma_tags %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign Up</title>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">-->
    <link rel="stylesheet" type="text/css" href="{% static 'bulma/css/style.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>


<section class="hero is-dark">
  <div class = "container">
    
      
      <div class="container has-text-centered">
      
      <div class="column"></div>
      <h1 class = 'title'>{{ user_type }} Sign Up</h1>
      </div>
      <div class = "column is-half is-offset-one-quarter">
      <div class = "box">
  

    <div class="col-md-8 col-sm-10 col-12">

      <form method="post" novalidate>
        <p class = "control">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ form|bulma }}
        </p>
        <button type="submit" class="button is-success">Sign up</button>
        <a href="{% url 'signup' %}" class="button is-black is-outlined" role="button"> Back </a>
      </form>
    </div>
  </div>
    
  </div>
</div>
</section>
