{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Account Types</title>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">-->
    <link rel="stylesheet" type="text/css" href="{% static 'bulma/css/signup_page.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bulma/css/style.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
<body>

<div class="split-container">
  <div class="split-item split-left">
    <div class="split-image">
      
    </div>
    <div class = "column is-half">
    <a href="{% url 'athlete_signup' %}" class="button is-white is-large is-fullwidth" role="button"> Athlete </a>
    </div> 
  </div>
  <div class="split-item split-right">
    <div class="split-image">
      
    </div>
    <div class = "column is-half">
    <a href="{% url 'coach_signup' %}" class="button is-black is-large is-fullwidth" role="button"> Coach </a>
  </div>
  </div>
</div>

</body>