{% load static %}


{% block js %}
  <script src="{% static 'js/app.js' %}"></script>
  <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
  <script src='https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js'></script>
{% endblock %}
<script>
    $(document).ready(function() {
        // messages timeout for 10 sec
        setTimeout(function() {
            $('.notification').fadeOut('slow');
        }, 3000); // <-- time in milliseconds, 1000 =  1 sec

        // delete message
        $('.del-msg').live('click',function(){
            $('.del-msg').parent().attr('style', 'display:none;');
        })
    });
</script>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AGOGE</title>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">-->
    <link rel="stylesheet" type="text/css" href="{% static 'bulma/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bulma/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bulma/css/style.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/fontawesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/solid.css' %}">
 </head>


<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    {% if request.user.is_authenticated and request.user.is_coach %}
      <a class="navbar-item brand-text" href="{% url 'coach:dashboard' %}"><img src="{% static 'images/bitmap.png'%}" alt="Agoge"></a>
      {% else %}
      <a class="navbar-item brand-text" href="{% url 'athlete:dashboard' %}"><img src="{% static 'images/bitmap.png'%}" alt="Agoge"></a>
        {% endif %}
      </a>



    <div role="button " class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>

    </div>
  </div>


  <div id="navbarBasicExample" class="navbar-menu is-hoverable">
    <div class="navbar-start">


      <a href="{% url 'app:view_rpe' pk=request.user.id chart_type='RTS' %}" class="navbar-item">
        RPE Chart
      </a>

      <div class="navbar-item has-dropdown is-hoverable " >
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a href="{% url 'app:calendar' %}" class="navbar-item">
            Your Calendar
          </a>
          {% if request.user.is_authenticated and request.user.is_coach %}
          <a class="navbar-item">
            <a href="{% url 'app:analytics' %}" class="navbar-item">
            Analytics
          </a>
          {% endif %}
          <!--<a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>-->
        </div>
      </div>
    </div>

    <div class="navbar-item">
      {% if request.user.is_authenticated and request.user.is_athlete %}
      <form method = "GET" action="{% url 'app:search_coach' %}">
      <div class="field has-addons">
        <div class="control">
          <input name="search_box" class="input" type="text"  placeholder="Find a Coach">
        </div>
        <div class="control">
          <button class="button is-info" type = "submit">
            Search
          </button>


        </div>
      </div>
        </form>
        {% else %}
        <form method = "GET" action="{% url 'app:search_athlete' request.user.id %}">
          <div class="field has-addons">
            <div class="control">
              <input name="search_box" class="input" type="text" name="search_box" placeholder="Find an Athlete">
            </div>
          <div class="control">
          <button class="button is-info" type = "submit">
            Search
          </button>
          </div>
        </div>
        </form>


        {% endif %}

      </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="button is-danger">
              <strong>Logout</strong>
            </a>
          {% else %}
            <a class="button is-light">
              Log in
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>


</nav>
{% for message in messages %}
  <div class="container" style="width:100%;z-index:99999;position:fixed;pointer-events:none;display:flex;flex-direction:column;padding:15px;top:0;left:0;right:0;text-align:center;align-items:center;">
    <div class="notification server-messages is-{{message.tags}}" style="width:auto;pointer-events:auto;display:inline-flex;opacity:1;">
        {{ message }}
        <a href="#" class="del-msg">&times;</a>
    </div>
  </div>
{% endfor %}
<div id="site-wrapper" class="has-background-dark">
        {% block content %}
            if you see this, something is wrong!
        {% endblock content %}
        <script>
          $(document).ready(function(){
            {% block jquery %}{% endblock %}
          })
        </script>
    </div>
</html>

